.productos{
    display: inline-block;
   
}
body{
    border: 1px solid black;
    background-color: gray;
    
}
.numerito {
    color: white;
}
.itemlist{
    border: 1px solid black;
    background-color: white;
    
    
}
.productos{
    border: 1px solid black;
}

.footer{
    padding: 4px;
    border:  1px solid black;
}
.bi{
    
    padding: 3px;
    
}